---
---

@import "{{ site.theme }}";

a {
	color: black;
}

.sidebar {
	padding: 0.5em;
	position: fixed;
	left: 1em;
	top: 1em;
	width: 15em;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 2px solid #c9c9c9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	li {
		list-style-type: square;
		list-style-position: inside;
	}
	ul {
		font-family: 'Abel', sans-serif;
		margin-top: 1em;
	}
	h1 {
		font-family: 'Oswald', sans-serif;
		text-align: center;
	}
}

.inner {
	position: absolute;
	left: 22em;
}
